<div class="feature-dialog">

	<div class="modal-header">
		<h4 id="myModalLabel">Wipe Device</h4>
	</div>
	<div class="modal-body">
		
		<div class="raw">
			PIN Code:  <span style="color:#FF0000">*</span> <input data-required="true" type="password" id="pin" class="feature-input">
		</div>
		
		
		

	</div>

	<div class="modal-footer">
		<button class="btn btn-cancel"  data-dismiss="modal" aria-hidden="true">
			Close
		</button>
		<button  data-dismiss="modal" aria-hidden="true" class="btn btn-orange feature-command" data-value="Enabled">Wipe</button>
	</div>

</div>
