<footer style="clear:both;">
	<div class="navbar">
		<div class="raw text-center footer-bar">
			<img class="footer-logo" style="width:100px" src="{{resourcePath}}footer.png">
			{{appInfo.copyright}}
		</div>
	</div>
</footer>