<ul class="nav">
	{{#navigation.topNavigation}}
		<li class="{{#showActive displayPage ../page}}{{/showActive}}" >
			<a href="{{{link}}}"><i class="{{icon}} icon-white"> </i> {{{name}}}{{this.page}}</a>
		</li>
	{{/navigation.topNavigation}}	
	
</ul>