<div class="feature-dialog">

	<div class="modal-header">
		<h4 id="myModalLabel">APN Configuration</h4>
	</div>
	<div class="modal-body">
		
		<div class="raw">
			<div class="feature-lable">Carrier: <span style="color:#FF0000">*</span> </div><input type="text" id="carrier" class="feature-input" data-required="true">
		</div>
		<div class="raw">
			<div class="feature-lable">Username: <span style="color:#FF0000">*</span> </div><input type="text" id="user_name" class="feature-input" data-required="true">
		</div>
		<div class="raw">
			<div class="feature-lable">Password: <span style="color:#FF0000">*</span> </div><input type="password" id="password" class="feature-input" data-required="true">
		</div>
		<div class="raw">
			<div class="feature-lable">Proxy Server: <span style="color:#FF0000">*</span> </div><input type="text" id="proxy_server" class="feature-input" data-required="true">
		</div>
		<div class="raw">
			<div class="feature-lable">Proxy Port: <span style="color:#FF0000">*</span> </div><input type="text" id="proxy_port" class="feature-input" data-required="true">
		</div>
	
	</div>

	<div class="modal-footer">
		<button class="btn btn-cancel"  data-dismiss="modal" aria-hidden="true">
			Close
		</button>
		<button   class="btn btn-orange feature-command">Set APN</button>
	</div>

</div>

