<div class="feature-dialog">

	<div class="modal-header">
		<h4 id="myModalLabel">Device Camera</h4>
	</div>
	<div class="modal-body offset1">	
					
			<div class="pull-left">
				<div class="well-small" style="cursor: pointer;">
				
					<img data-dismiss="modal" aria-hidden="true" style="width:64px" data-value="Enable" class="feature-command" src="{{resourcePath}}/camera.png">
					<div class="text-center">
					Enable
					</div>
				</div>				
			</div>
			<div class="pull-left" style="padding-left: 30px">
				<div class="well-small" style="cursor: pointer;">					
				   <img data-dismiss="modal" aria-hidden="true" style="width:64px" data-value="Disable" class="feature-command" src="{{resourcePath}}/no-camera.png">
				   <div class="text-center">
					Disable
					</div>
				</div>
			</div>
			
			


	</div>
	
	
	<div class="modal-footer">
		<button class="btn btn-cancel"  data-dismiss="modal" aria-hidden="true">
			Close
		</button>		
	</div>

</div>
