<div class="feature-dialog">

	<div class="modal-header">
		<h4 id="myModalLabel">CalDav Calendar</h4>
	</div>
	<div class="modal-body">
		
		<div class="raw">
			<div class="feature-lable">Username: <span style="color:#FF0000">*</span></div> <input type="text" id="username" class="feature-input" data-required="true">
		</div>
		
		<div class="raw">
			<div class="feature-lable">Password: <span style="color:#FF0000">*</span></div> <input type="password" id="password" class="feature-input" data-required="true">
		</div>
	
	</div>

	<div class="modal-footer">
		<button class="btn btn-cancel"  data-dismiss="modal" aria-hidden="true">
			Close
		</button>
		<button  class="btn btn-orange feature-command">Set CalDav Calendar</button>
	</div>

</div>
