<div class="feature-dialog">

	<div class="modal-header">
		<h4 id="myModalLabel">Create Webclip</h4>
	</div>
	<div class="modal-body">
		
		<div class="raw">
			Icon: <span style="color:#FF0000">*</span> <input data-required="true" type="file" id="image" class="feature-input">
		</div>
		<div class="raw">
			Title: <span style="color:#FF0000">*</span> <input data-required="true" type="text" id="title" class="feature-input">
		</div>
		<div class="raw">
			URL: <span style="color:#FF0000">*</span> <input data-required="true" type="text" id="url" class="feature-input">
		</div>
	</div>

	<div class="modal-footer">
		<button class="btn btn-cancel"  data-dismiss="modal" aria-hidden="true">
			Close
		</button>
		<button  class="btn btn-orange feature-command" data-value="Enabled">Create</button>
	</div>

</div>
