
<div class="feature-dialog">

	
	<div class="modal-header">
		<h4 id="myModalLabel">Lock with password</h4>
	</div>
	<div class="modal-body">
		
		<div class="raw">
			<div class="feature-lable">SSID:  <span style="color:#FF0000">*</span> </div> <input data-required="true" type="text" id="ssid" class="feature-input" data-required="true">
		</div>
		
		<div class="raw">
			<div class="feature-lable">Password:  <span style="color:#FF0000">*</span> </div> <input data-required="true" type="password" id="password" class="feature-input">
		</div>
	</div>

	<div class="modal-footer">
		<button class="btn btn-cancel"  data-dismiss="modal" aria-hidden="true">
			Close
		</button>
		<button  class="btn btn-orange feature-command">Set Wifi</button>
	</div>

</div>
