<ul class="bxslider">
	{{#appList.received_data}}
	<li style="font-size: x-small" title="{{name}}">
		<img src="{{image}}" class="text-center app-image" style="width: 40px">
		{{name}}
	</li>
	{{/appList.received_data}}
</ul>

