<div class="row-fluid row-footer">
	<div class="span6">
		<span> &copy; 2013 WSO2 Inc. All Rights Reserved.</span>
	</div>
	<div class="span5 pull-right txt-right">
		<ul>
			<li>
				<a target="_blank" href="http://docs.wso2.org/display/ES100/WSO2+Enterprise+Store"><i class="icon-book"></i>Docs</a>
			</li>
			<li>
				<a target="_blank" href="http://www.wso2.com" id="logo-wso2"></a>
			</li>
		</ul>

	</div>
</div>