<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
   <dict>
      <key>PayloadContent</key>
      <array>
         <dict>
            <key>PayloadDescription</key>
            <string>Configures Calendar Subscription.</string>
            <key>PayloadDisplayName</key>
            <string>Subscribed Calendar</string>
            <key>PayloadIdentifier</key>
            <string>${PayloadIdentifier}</string>
            <key>PayloadOrganization</key>
            <string>${PayloadOrganization}</string>
            <key>PayloadType</key>
            <string>com.apple.subscribedcalendar.account</string>
            <key>PayloadUUID</key>
            <string>${PayloadUUID}</string>
            <key>PayloadVersion</key>
            <integer>1</integer>
            <key>SubCalAccountDescription</key>
            <string>Google Calendar</string>
            <key>SubCalAccountHostName</key>
            <string>www.google.com</string>
            <key>SubCalAccountPassword</key>
            <string>${SubCalAccountPassword}</string>
            <key>SubCalAccountUseSSL</key>
            <true />
            <key>SubCalAccountUsername</key>
            <string>${SubCalAccountUsername}</string>
         </dict>
      </array>
      <key>PayloadDescription</key>
      <string>Calendar Subscription</string>
      <key>PayloadDisplayName</key>
      <string>Calendar Subscription</string>
      <key>PayloadIdentifier</key>
      <string>${PayloadIdentifier}</string>
      <key>PayloadOrganization</key>
      <string>${PayloadOrganization}</string>
      <key>PayloadRemovalDisallowed</key>
      <false />
      <key>PayloadType</key>
      <string>Configuration</string>
      <key>PayloadUUID</key>
      <string>${PayloadUUID}</string>
      <key>PayloadVersion</key>
      <integer>1</integer>
   </dict>
</plist>