<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
   <dict>
      <key>PayloadContent</key>
      <array>
         <dict>
            <key>PayloadDescription</key>
            <string>Configures device restrictions.</string>
            <key>PayloadDisplayName</key>
            <string>Restrictions</string>
            <key>PayloadIdentifier</key>
            <string>${PayloadIdentifier}</string>
            <key>PayloadOrganization</key>
            <string>${PayloadOrganization}</string>
            <key>PayloadType</key>
            <string>com.apple.applicationaccess</string>
            <key>PayloadUUID</key>
            <string>${PayloadUUID}</string>
            <key>PayloadVersion</key>
            <integer>1</integer>
            <key>allowAddingGameCenterFriends</key>
            <true />
            <key>allowAppInstallation</key>
            <true />
            <key>allowAssistant</key>
            <true />
            <key>allowAssistantWhileLocked</key>
            <true />
            <key>allowCamera</key>
            ${AllowCamera}
            <key>allowCloudBackup</key>
            <true />
            <key>allowCloudDocumentSync</key>
            <true />
            <key>allowDiagnosticSubmission</key>
            <true />
            <key>allowExplicitContent</key>
            <true />
            <key>allowGlobalBackgroundFetchWhenRoaming</key>
            <true />
            <key>allowInAppPurchases</key>
            <true />
            <key>allowMultiplayerGaming</key>
            <true />
            <key>allowPhotoStream</key>
            <true />
            <key>allowSafari</key>
            <true />
            <key>allowScreenShot</key>
            <true />
            <key>allowUntrustedTLSPrompt</key>
            <true />
            <key>allowVideoConferencing</key>
            <true />
            <key>allowVoiceDialing</key>
            <true />
            <key>allowYouTube</key>
            <true />
            <key>allowiTunes</key>
            <true />
            <key>forceEncryptedBackup</key>
            <false />
            <key>forceITunesStorePasswordEntry</key>
            <false />
            <key>ratingApps</key>
            <integer>1000</integer>
            <key>ratingMovies</key>
            <integer>1000</integer>
            <key>ratingRegion</key>
            <string>us</string>
            <key>ratingTVShows</key>
            <integer>1000</integer>
            <key>safariAcceptCookies</key>
            <integer>2</integer>
            <key>safariAllowAutoFill</key>
            <true />
            <key>safariAllowJavaScript</key>
            <true />
            <key>safariAllowPopups</key>
            <true />
            <key>safariForceFraudWarning</key>
            <false />
         </dict>
      </array>
      <key>PayloadDescription</key>
      <string>This profile will manage restrictions.</string>
      <key>PayloadDisplayName</key>
      <string>Restrictions Profile</string>
      <key>PayloadIdentifier</key>
      <string>${PayloadIdentifier}</string>
      <key>PayloadOrganization</key>
      <string>${PayloadOrganization}</string>
      <key>PayloadRemovalDisallowed</key>
      <false />
      <key>PayloadType</key>
      <string>Configuration</string>
      <key>PayloadUUID</key>
      <string>${PayloadUUID}</string>
      <key>PayloadVersion</key>
      <integer>1</integer>
   </dict>
</plist>