<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
   <dict>
      <key>Command</key>
      <dict>
         <key>Queries</key>
         <array>
            <string>AvailableDeviceCapacity</string>
            <string>BluetoothMAC</string>
            <string>BuildVersion</string>
            <string>CarrierSettingsVersion</string>
            <string>CurrentCarrierNetwork</string>
            <string>CurrentMCC</string>
            <string>CurrentMNC</string>
            <string>DataRoamingEnabled</string>
            <string>DeviceCapacity</string>
            <string>DeviceName</string>
            <string>ICCID</string>
            <string>IMEI</string>
            <string>IsRoaming</string>
            <string>Model</string>
            <string>ModelName</string>
            <string>ModemFirmwareVersion</string>
            <string>OSVersion</string>
            <string>PhoneNumber</string>
            <string>Product</string>
            <string>ProductName</string>
            <string>SIMCarrierNetwork</string>
            <string>SIMMCC</string>
            <string>SIMMNC</string>
            <string>SerialNumber</string>
            <string>UDID</string>
            <string>WiFiMAC</string>
            <string>CellularTechnology</string>
            <string>CellularTechnology</string>
            <string>BatteryLevel</string>
            <string>SubscriberCarrierNetwork</string>
            <string>VoiceRoamingEnabled</string>
            <string>SubscriberMCC</string>
            <string>DataRoaming</string>
            <string>VoiceRomaing</string>
            <string>JailbreakDetected</string>
         </array>
         <key>RequestType</key>
         <string>DeviceInformation</string>
      </dict>
      <key>CommandUUID</key>
      <string>${CommandUUID}</string>
   </dict>
</plist>