<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
   <dict>
      <key>PayloadContent</key>
      <array>
         <dict>
            <key>IPSec</key>
            <dict>
               <key>AuthenticationMethod</key>
               <string>Certificate</string>
               <key>OnDemandEnabled</key>
               <integer>${OnDemandEnabled}</integer>
               <key>OnDemandMatchDomainsAlways</key>
               <array>
                  <string>${Domain}</string>
               </array>
               <key>PromptForVPNPIN</key>
               ${PromptForVPNPIN}
               <key>RemoteAddress</key>
               <string>${RemoteAddress}</string>
               <key>XAuthName</key>
               <string>${XAuthName}</string>
               <key>XAuthEnabled</key>
               <integer>${XAuthEnabled}</integer>
            </dict>
            <key>PayloadDescription</key>
            <string>Configures VPN settings, including authentication.</string>
            <key>PayloadDisplayName</key>
            <string>${PayloadDisplayName}</string>
            <key>PayloadIdentifier</key>
            <string>${PayloadIdentifier}</string>
            <key>PayloadOrganization</key>
            <string>${PayloadOrganization}</string>
            <key>PayloadType</key>
            <string>com.apple.vpn.managed</string>
            <key>PayloadUUID</key>
            <string>${PayloadUUID}</string>
            <key>PayloadVersion</key>
            <integer>1</integer>
            <key>VPNType</key>
            <string>IPSec</string>
         </dict>
      </array>
      <key>PayloadDescription</key>
      <string>This profile will enable VPN.</string>
      <key>PayloadDisplayName</key>
      <string>${PayloadDisplayName}</string>
      <key>PayloadIdentifier</key>
      <string>${PayloadIdentifier}</string>
      <key>PayloadOrganization</key>
      <string>${PayloadOrganization}</string>
      <key>PayloadRemovalDisallowed</key>
      <false />
      <key>PayloadType</key>
      <string>Configuration</string>
      <key>PayloadUUID</key>
      <string>${PayloadUUID}</string>
      <key>PayloadVersion</key>
      <integer>1</integer>
   </dict>
</plist>