<div class="container">

	<div class="raw">
		<div class="span12">
			{{>config-navigation}}
		</div>
	</div>

	<div class="raw">
		<div class="span12">
			<div class="raw-fluid">

				<div class="block">
					<div class="block-header">
						<h4>MDM Settings</h4>
					</div>
				</div>

			</div>

		</div>

	</div>

</div>
