<div class="container-fluid">
	<div class="row-fluid">
		<div class="span8">
				<div class=" raw-fluid login-mobile-img">
					<img src="{{resourcePath}}front-image.png">
				</div>
		</div>
		<div class="span3">

			<div class="block sign-in">
				<div class="block-header">
					<div class="block-header-title pull-left">Sign in</div>
				</div>
				<div id="newest-app-list" class="container-fluid raw-fluid block-body">
					<form class="form-signin" method="post">						
						<input type="text" class="input-block-level" placeholder="Username" id="username" name="username">
						<input type="password" class="input-block-level" placeholder="Password" id="password" name="password">						
						<hr>
						<button class="btn btn-large btn-orange" type="submit">
							Sign in
						</button>
					</form>
				</div>
			</div>

		</div>
	</div>

</div>