<div class="container">
	
	<div class="raw-fluid">
		<ul class="breadcrumb">
				<li>
					<a href="configuration">Policy</a><span class="divider">/</span>
				</li>
				<li class="active">
					Add
				</li>
		</ul>
	</div>
	

	<div class="raw-fluid">		

		<div class="span12">

			<div class="raw-fluid">
				<div class="block">
					<div class="block-header">
						<div class="block-header-title pull-left">
							Add Policy
						</div>

					</div>

					<div class="block-body">
						{{>configure-policies}}

						<div id="extra-fileds"></div>

						<hr>
						<div class="well-small">
							<a class="btn btn-orange" id="btn-add">Save</a>
						</div>

					</div>

				</div>
			</div>

		</div>

	</div>

</div>