.top-asset-slideshow-cont .asset{
    width:200px;
    margin-right: 17px;
    display: inline-block;
}

.top-asset-slideshow-cont .asset:first-child{
    margin-left:5px;
}


.top-asset-slideshow-pag {
    height: 39px;
    margin: 0;
    position: absolute;
    right: 10px;
    top: 0;
}
.top-asset-slideshow-pag a{
    width:8px;
    height:39px;
    font-size:0;
    background:url(../img/asset-slideshow-pag.png) no-repeat center right;
    margin-left:8px;
    display:inline-block;
    float:left;
}
.top-asset-slideshow-pag a.selected{
    background-position:center left;
}
.store-bookmark-icon{
    color: #FFED00;
    font-size: 30px;
    position: absolute;
    right: 10px;
    top: -4px;
    z-index: 1;
    text-shadow:1px 1px #848484;
}

.top-assets-empty-assert {
    margin-left: 12%;
}

