<div class="container">
    
    <div class="raw-fluid">
		<div class="span12">{{>config-navigation}}</div>
	</div>

	<div class="raw-fluid">
		<div class="span12">

			<div class="raw-fluid">
				<div class="block">
					<div class="block-header">
						<div class="block-header-title pull-left">
							Tenant Configurations
						</div>

					</div>

					<div class="block-body">
						<form class="form-horizontal" data-validate="parsley">
                            
                            <div class="control-group">
								<label class="control-label" for="inputFirstName">Theme</label>
								<div class="controls">
									<input type="text" id="inputUsername" class="input-xlarge" data-required="true">
								</div>
							</div>
                            
						</form>
					</div>
				</div>
			</div>

		</div>

	</div>

</div>


<style>
	.info-container{
		display: none
	}
	
</style>
