<footer style="clear:both;">
     
    <div class="navbar">
        <div class="raw text-center footer-bar">
            {{appInfo.copyright}} | 
             <span >{{appInfo.pb}} </span><img alt="" src="{{appInfo.wso2}}" />
        </div>
    </div>
    
    <div class="offset12">
       
    </div>
    
</footer>