<footer style="clear:both;">
     
    <div class="navbar">
        <div class="raw text-center footer-bar">
            <img class="footer-logo" style="width:100px" src="{{resourcePath}}footer.png">
            {{appInfo.copyright}}
        </div>
    </div>
    
    <div class="offset12">
        <span style="font-size:8px">{{appInfo.pb}} </span><img alt="" src="data:image/png;base64,{{appInfo.wso2}}" />
    </div>
    
</footer>