<div class="sidebar-nav">
        <ul class="nav nav-list ">
            <li class="active prominent-link"><a href="/publisher/">Browse All</a></li>
            <!--<li class="active prominent-link"><a href="#">Add</a></li>-->
            <div id="dl-menu" class="dl-menuwrapper">
                <ul class="dl-menu dl-menuopen">
                    <li>
                        <a href="#">Categories</a>
                        <ul class="dl-submenu">
                            <li><a href="#"><i class="icon-coffee"></i>Java</a></li>
                            <li><a href="#"><i></i>Maven</a></li>
                            <li><a href="#"><i class="icon-coffee"></i>Javascript</a></li>
                            <li><a href="#"><i></i>SOA</a></li>
                            <li><a href="#"><i class="icon-gamepad"></i>Games</a></li>
                        </ul>
                    </li>
                    <li><a href="#"><i class="icon-dashboard"></i>Statistics</a></li>
                    <li><a href="#"><i class="icon-gift"></i>Wishlist</a></li>
                </ul>
            </div>
        </ul>
    </div>
