<div class="span3">
	<a href='/publisher/asset/{{shortName}}' class="btn btn-addNewAsset" type="button"><i class="icon-plus-sign-alt"></i>{{t "Add New Asset"}}</a>
</div>
<div class="span3 pull-right control-search">
	<input type="text" class="inp-ribbon span12" placeholder="{{t "Search.."}}" id="inp_searchAsset" />
	<a class="" id="search-button"> <i class="icon-search"></i> </a>
</div>
