<table cellpadding="0" cellspacing="0" border="0"
class="table table-striped table-bordered" id="main-table">
	<thead>
		<tr>
			<th>E-Mail</th>
			<th>First Name</th>
			<th>Last Name</th>			
			<th>Type</th>
			<th>Action</th>
			
		</tr>
	</thead>
	<tbody>
		
	</tbody>
</table>
