<table class="table table-striped" style="font-size: xx-small">
<tr>
	<th>Oeration</th>
	<th>Sent</th>
	<th>Received</th>
</tr>
{{#notifications}}
<tr>
	<td>{{feature_description}}</td>
	<td>{{sent_date}}</td>
	<td>{{received_date}}</td>
</tr>
{{/notifications}}


    </table>