<div class='content-div'>
	<div class="row-fluid">
		<div class="span12 asset-view-container">
			<div class="widget wlightblue widget-lifecycle">
				<div class="widget-head">
					<div class="pull-left">
						Lifecycle - {{{snoop "fields(name=overview_name).value" this.data}}}
					</div>
					{{#if data.info.lifecycleState}}
					<span id='state' class="pull-right">{{data.info.lifecycleState}}</span>
					{{/if}}
					<div class="clearfix"></div>
				</div>
				<div class="widget-content">
					<div class="info-div alert">
						<a data-dismiss="alert" class="close">x</a><i class="icon-info-sign"></i><span></span>
					</div>
					<form class="form-horizontal lifecycle">
						<div class="lifecycle-tip">
							<i class="icon-long-arrow-up"></i> &nbsp; Click on a circle to change state
						</div>
						<div>
							<div id='checklist'></div>
						</div>
						<div id='canvas'>

						</div>
						<!--
						<div class="form-actions" id='form-actions'>
												</div>-->
						
					</form>
				</div>
			</div>
			<legend>
				History
			</legend>
			<table id='lc-history' class="table">

			</table>

		</div>
	</div>
</div>