@media screen {
    @font-face {
        font-family: 'Lato';
        font-style: normal;
        font-weight: normal;
        src: url('../font/Lato-Reg-webfont.eot');
        src: url('../font/Lato-Reg-webfont.eot?#iefix') format('embedded-opentype'), url('../font/Lato-Reg-webfont.woff') format('woff'), url('../font/Lato-Reg-webfont.ttf') format('truetype'), url('../font/Lato-Reg-webfont.svg#cherokee') format('svg');
    }

    @font-face {
        font-family: 'Lato';
        font-style: normal;
        font-weight: bold;
        src: url('../font/Lato-Bol-webfont.eot');
        src: url('../font/Lato-Bol-webfont.eot?#iefix') format('embedded-opentype'), url('../font/Lato-Bol-webfont.woff') format('woff'), url('../font/Lato-Bol-webfont.ttf') format('truetype'), url('../font/Lato-Bol-webfont.svg#cherokee') format('svg');
    }
}
body {
    padding-top: 40px;
    padding-bottom: 40px;
    color: #34495E;
    background-color: #ecf0f1;
    font-family: 'Lato';
}

.form-signin {
    background: url(../img/form-separator.png)  49% top repeat-y;
}
.form-signin > .span12, .footer > .span12 {
    padding: 15px 30px;
}
.form-signin .form-signin-heading, .form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin input[type="text"], .form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 0;
    padding: 7px 9px;
}

.form-signin .span6:first-child {
    padding-right: 20px;
}
.form-signin .span6:last-child {
    padding-left: 20px;
}
.form-header {
    height: 90px;
    text-align: center;
    background: url(../img/banner-bg-pattern.jpg);
}
.form-header img {
    margin-top: 31px;
}

.btn {
    border-radius: 3px !important;
    background-image: none;
}
.btn-primary {
    background: none repeat scroll 0 0 #229A55;
    color: #FFFFFF;
    text-shadow: none;
}

.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
    background: #27ae60;
}

.row-footer {

    border-top: 0;
    color: #7f8c8d;
}

.row-footer li {
    display: inline-block;
    margin-left: 20px;
}
.row-footer li:last-child {
    float: right;
}
.row-footer li a {
    color: #7f8c8d;
}
.row-footer li a:hover {
    color: #27ae60;
    text-decoration: none;
}

.container > .row > .span8 {
    background: #fff;
    border: 1px solid #ddd;
}

.container > .row.row-footer > .span8 {
    background: none;
    border: none;
}
.container > .row.row-footer > .span8 .span12 {
    padding-left: 0;
    padding-right: 0;
}
.footer ul {
    text-align: right;
}

#logo-wso2 {
    background: url("../img/wso2-logo-small.png") no-repeat scroll left top transparent;
    display: inline-block;
    height: 17px;
    width: 41px;
    margin-top: 4px;
}
#logo-wso2:hover {
    background-position: left -18px;
}
label.error {
    display: inline-block;
    background: none repeat scroll 0 0 #F2DEDE;
    border-top: 1px solid #EED3D7;
    color: #B94A48;
    border-radius: 0 0 4px 4px;
    padding: 0 10px 2px;
    margin-left: 4px;
}
.control {
    margin-bottom: 15px;
}

.lblRemember {
    display: none;
    padding-top: 11px;
}
label {
    height: 20px;
}

#registerForm .span6 {
    padding-left: 0;
}

.sso-footer{
	background :none!important;
	border:none!important;
}
@media (max-width: 767px) {
    .form-signin {
        background-image: none;
    }
    .form-signin .span6:last-child {
        padding-left: 0;
    }
}
