
<div class="block">
	<div class="block-header">
		<div class="block-header-title pull-left">{{title}}</div>
	</div>

	<div class="container-fluid raw-fluid block-body"
		id="chart-{{index}}"></div>

</div>


 

<script type="text/javascript">
	$(function() {
				
		$('#chart-{{index}}')
				.highcharts(
						{	
							
							chart : {
								width : '450'
							},
							
							title : {
								text : ''
							},
							tooltip : {
								pointFormat : '{series.name}: <b>{point.percentage}%</b>',
								percentageDecimals : 1
							},						
							
							exporting: {
					            enabled: false
					        },
					        
					        plotOptions: {
				                pie: {
				                    allowPointSelect: true,
				                    cursor: 'pointer',
				                    dataLabels: {
				                        enabled: false
				                    },
				                    showInLegend: true
				                }
				            },
				            
				            colors:[
								"#66CCFF",   
				                "#CCFFCC"
				                
				            ],

							credits : {
								enabled : false
							},
							series : [ {
								type : 'pie',
								name : 'Devices',
								data : chartData.versions
							} ]
						});
	});
</script>
