<header>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
	<a class="brand" href="#" style="padding:0px; padding-left:20px"><img src="{{resourcePath}}mobile-mdm.png" style="height:40px"></a> 
		 <!--  <a class="brand" href="#">{{appInfo.headerTitle}}</a>  -->
		  {{#compare userLogin 'true'}}
			{{>top-navigation}}
		  {{/compare}}	

			
			{{#compare userLogin 'true'}}
			<ul class="nav pull-right">					
				<li class="dropdown">
					<a data-toggle="dropdown" class="dropdown-toggle" href="#"><i class="icon-user icon-white"> </i> Welcome {{currentUser.firstName}} <i class="icon-sort-down"></i></a>
					<ul class="dropdown-menu">						
						<li>
							<a href="{{appInfo.server_url}}logout">Logout</a>
						</li>										
					</ul>
				</li>
			</ul>
			{{/compare}}	

		</div>

	</div>

</header>