.graph-container{
    background: none;
    box-shadow: none;
    border: 0 none;
    width:98%;
    height:325px;
    min-height: 240px;
    margin: 0 0 0;
}
.widget-content .date-range-wrapper{
    padding:10px 8px 20px;
    text-align: right;
}
.widget-content .date-range-wrapper > #date-range{
    text-align: left;
}

#placeholder1, #placeholder2 {
    height:320px;
}
